@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,400,700';

body, html {
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a {
  color: #fb516e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  opacity:0;
}

#landing-page {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.console-container {
  font-family: 'Special Elite', cursive;
  font-weight: 700;
  font-size: 4em;
  text-align: center;
  height: 200px;
  width: 800px;
  max-width: 90vw;
  display: block;
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.console-underscore {
  color: #202020;
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

#article-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100vh;
  z-index: 20;
  width: 100%;
}

#article-text {
  width: 600px;
  max-width: 90vw;
  margin: 4em auto;
  font-family: "ubuntu", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  text-align: justify;
}

.center-art {
  height: 2em;
  text-align: center;
}

.center-art > img {
  position: absolute;
  width: auto;
  height: 4em;
}

#heart{
  clip: rect(0px,40px,40px,0px);
}

#feed {
  height: 6em;
  clip: rect(0px,40px,40px,0px);
}

.footer {
  text-align: center;
  font-family: 'Special Elite', cursive;
}

.footer img {
  margin-top: 2em;
  width: 50%;
  height: auto;
}

@media (max-width: 650px) {
  .console-container {
    font-size: 2em;
  }
}
